# Lab 2

[![Open In Colab](https://colab.research.google.com/assets/colab-badge.svg)](https://colab.research.google.com/github/giswqs/geog-312/blob/main/book/labs/lab_02.ipynb)

This notebook contains exercises based on the lectures on [**String Operations**](https://geog-312.gishub.org/book/python/04_string_operations.html) and [**Looping and Control Statements**](https://geog-312.gishub.org/book/python/05_looping.html). These exercises will help reinforce the concepts of string manipulation, loops, and conditionals in geospatial contexts.

## Exercise 1: Manipulating Geographic Location Strings

- Create a string that represents the name of a geographic feature (e.g., `"Amazon River"`).
- Convert the string to lowercase and then to uppercase.
- Concatenate the string with the name of the country (e.g., `"Brazil"`) to create a full location name.
- Repeat the string three times, separating each repetition with a dash (`-`).

In [1]:
feature = "Amazon River"

In [3]:
feature_lower = feature.lower()
print(feature_lower)

amazon river

In [7]:
full_location_name = feature + ", Brazil"
print(full_location_name)

Amazon River, Brazil

In [8]:
print((feature+" - ")*2+feature)

Amazon River - Amazon River - Amazon River

## Exercise 2: Extracting and Formatting Coordinates

- Given a string with the format `"latitude, longitude"` (e.g., `"40.7128N, 74.0060W"`), extract the numeric values of latitude and longitude.
- Convert these values to floats and remove the directional indicators (`N`, `S`, `E`, `W`).
- Format the coordinates into a `POINT` WKT string (e.g., `"POINT(-74.0060 40.7128)"`).

In [9]:
coordinates_string = "40.7128N, 74.0060W"

In [19]:
lat_string, lon_string = coordinates_string.split(", ")
print(lat_string)
print(lon_string)

40.7128N
74.0060W

In [20]:
latitude = float(lat_string[:-1])
longitude = float(lon_string[:-1])
print(latitude)
print(longitude)

40.7128
74.006

In [21]:
wkt_point = f"POINT({latitude},{longitude})"
print(wkt_point)

POINT(40.7128,74.006)

## Exercise 3: Building Dynamic SQL Queries

- Given a table name and a condition, dynamically build an SQL query string.
- Example: If `table_name = "cities"` and `condition = "population > 1000000"`, the query should be `"SELECT * FROM cities WHERE population > 1000000;"`.
- Add additional conditions dynamically, like `AND` clauses.

In [14]:
table_name = "cities"
condition = "population > 1000000"
sql_query = f"SELECT from {table_name} WHERE {condition}"
print(sql_query)

SELECT from cities WHERE population > 1000000

In [15]:
condition_1 = "population < 5000000"
sql_query_1 = f"SELECT from {table_name} WHERE {condition} AND {condition_1}"
print(sql_query_1)

SELECT from cities WHERE population > 1000000 AND population < 5000000

## Exercise 4: String Normalization and Cleaning

- Given a list of city names with inconsistent formatting (e.g., `[" new york ", "Los ANGELES", "   CHICAGO"]`), normalize the names by:
  - Stripping any leading or trailing whitespace.
  - Converting them to title case (e.g., `"New York"`, `"Los Angeles"`, `"Chicago"`).
- Ensure that the output is a clean list of city names.

In [16]:
city_names = [" new york ", "Los ANGELES", " CHICAGO"]

In [17]:
city_names_clean = [city.strip().title() for city in city_names]
print(city_names_clean)

['New York', 'Los Angeles', 'Chicago']

## Exercise 5: Parsing and Extracting Address Information

- Given a string in the format `"Street, City, Country"` (e.g., `"123 Main St, Springfield, USA"`), write a function that parses the string into a dictionary with keys `street`, `city`, and `country`.
- The function should return a dictionary like `{"street": "123 Main St", "city": "Springfield", "country": "USA"}`.

In [18]:
address = "123 Main St, Springfield, USA"

In [23]:
my_dict = {}
def extract(address):
    street,city,country = address.split(", ")
    items = [("street",street),("city",city),("country",country)]
    for item in items:
        key = item[0]
        value = item[1]
        my_dict[key] = value
    print(my_dict)

In [24]:
extract("123 Main St, Springfield, USA")

{'street': '123 Main St', 'city': 'Springfield', 'country': 'USA'}

## Exercise 6: Using For Loops to Process Coordinate Lists

- Create a list of tuples representing coordinates (latitude, longitude).
- Write a `for` loop that prints each coordinate and indicates whether it is in the Northern or Southern Hemisphere based on the latitude.

In [35]:
coordinates = [
    (35.6895, 139.6917),
    (-34.0522, -118.2437),
    (-51.5074, -0.1278),
    (51.6085, -0.1298)
]

In [36]:
for lat, lon in coordinates:
  print(lat,lon)
  if lat>0:
    print("This point is in Northern Hemisphere")
  else:
    print("This point is in Southern Hemisphere")

35.6895 139.6917
This point is in Northern Hemisphere
-34.0522 -118.2437
This point is in Southern Hemisphere
-51.5074 -0.1278
This point is in Southern Hemisphere
51.6085 -0.1298
This point is in Northern Hemisphere

## Exercise 7: While Loops for Iterative Processing

- Create a list of coordinates (latitude, longitude).
- Write a `while` loop that continues to print each coordinate until it encounters a coordinate with a negative latitude.
- Stop the loop once this condition is met.

In [11]:
coordinates = [
    (35.6895, 139.6917),
    (34.0522, -118.2437),
    (51.5074, -0.1278),
    (-51.6085, -0.1298),
    (-52.6095, -0.1299)
]

In [25]:
counter = 0
while counter < len(coordinates):
  lat, lon = coordinates[counter]
  while lat>0:
    print(lat,lon)
    counter+=1
    break

35.6895 139.6917
34.0522 -118.2437
51.5074 -0.1278

KeyboardInterrupt:

## Exercise 8: Conditional Logic in Loops

- Create a list of coordinates and use a `for` loop to iterate over them.
- Use an `if-elif-else` statement inside the loop to classify each coordinate based on its longitude:
  - Print `"Eastern Hemisphere"` if the longitude is greater than 0.
  - Print `"Western Hemisphere"` if the longitude is less than 0.

In [20]:
coordinates = [
    (35.6895, 139.6917),
    (34.0522, -118.2437),
    (51.5074, -0.1278),
    (-51.6085, -0.1298),
    (-52.6095, -0.1299),
    (0,0)
]

In [21]:
for lat,lon in coordinates:
  print(lat,lon)
  if lon>0:
    print("Eastern Hemisphere")
  elif lon<0:
    print("Western Hemisphere")
  else:
    print("Equator")

35.6895 139.6917
Eastern Hemisphere
34.0522 -118.2437
Western Hemisphere
51.5074 -0.1278
Western Hemisphere
-51.6085 -0.1298
Western Hemisphere
-52.6095 -0.1299
Western Hemisphere
0 0
Equator

## Exercise 9: Filtering Data with Combined Loops and Conditionals

- Given a list of coordinates, filter out and store only those located in the Southern Hemisphere (latitude < 0).
- Count the number of coordinates that meet this condition and print the result.

In [22]:
coordinates = [
    (35.6895, 139.6917),
    (34.0522, -118.2437),
    (51.5074, -0.1278),
    (-51.6085, -0.1298),
    (-52.6095, -0.1299)
]

In [24]:
filtered_coord = []
for lat,lon in coordinates:
  if lat<0:
    filtered_coord.append((lat,lon))
print(f"Filtered coordinates in the Southern Hemisphere : {filtered_coord}")

Filtered coordinates in the Southern Hemisphere : [(-51.6085, -0.1298), (-52.6095, -0.1299)]

## Exercise 10: Generating and Analyzing Random Coordinates

- Write a program that generates random coordinates (latitude between [-90, 90] degrees and longitude between [-180, 180] degrees).
- Use a `while` loop to keep generating coordinates until a pair with both latitude and longitude greater than 50 is generated.
- Print each generated coordinate and the final coordinate that meets the condition.