# Lab 1

[![Open In Colab](https://colab.research.google.com/assets/colab-badge.svg)](https://colab.research.google.com/github/giswqs/geog-312/blob/main/book/labs/lab_01.ipynb)

## Exercise 1: Variable Assignment and Basic Operations

Create variables to store the following geospatial data:

- The latitude and longitude of New York City: 40.7128, -74.0060.
- The population of New York City: 8,336,817.
- The area of New York City in square kilometers: 783.8.

Perform the following tasks:

1. Calculate and print the population density of New York City (population per square kilometer).
2. Print the coordinates in the format "Latitude: [latitude], Longitude: [longitude]".

In [1]:
latitude = 40.7128
longitude = -74.0060
area = 783.8
population = 8336817

In [2]:
density = population/area

In [3]:
print(density)

10636.408522582293

In [4]:
print(f"Latitude: {latitude}, Longitude: {longitude}")

Latitude: 40.7128, Longitude: -74.006

## Exercise 2: Working with Strings

Create a string variable to store the name of a city, such as "San Francisco". Perform the following operations:

1. Convert the string to lowercase and print the result.
2. Convert the string to uppercase and print the result.
3. Replace "San" with "Los" in the city name and print the new string.

In [5]:
city = "San Francisco"

In [9]:
city_lower = city.lower()

In [10]:
print(city_lower)

san francisco

In [11]:
city_upper = city.upper()

In [12]:
print(city_upper)

SAN FRANCISCO

## Exercise 3: Using Lists

Create a list of tuples, where each tuple contains the name of a city and its corresponding latitude and longitude:

- New York City: (40.7128, -74.0060)
- Los Angeles: (34.0522, -118.2437)
- Chicago: (41.8781, -87.6298)

Perform the following tasks:

1. Add a new city (e.g., Miami: (25.7617, -80.1918)) to the list.
2. Print the entire list of cities.
3. Slice the list to print only the first two cities.

In [19]:
city = [("New York City",(40.7128, -74.0060)),("Los Angeles",(34.0522, -118.2437)),("Chicago",(41.8781, -87.6298))]

In [20]:
city.append(("Miami",(25.7617, -80.1918)))

In [21]:
print(city)

[('New York City', (40.7128, -74.006)), ('Los Angeles', (34.0522, -118.2437)), ('Chicago', (41.8781, -87.6298)), ('Miami', (25.7617, -80.1918))]

In [22]:
print(city[0:2])

[('New York City', (40.7128, -74.006)), ('Los Angeles', (34.0522, -118.2437))]

## Exercise 4: Using Tuples

Create a tuple to store the coordinates (latitude, longitude) of the Eiffel Tower: (48.8584, 2.2945). Perform the following tasks:

1. Access and print the latitude and longitude values from the tuple.
2. Try to change the latitude value to 48.8585. What happens? Explain why.

In [3]:
coordinates =  (48.8584, 2.2945)

In [5]:
coordinates[0] =  48.8585

TypeError: 'tuple' object does not support item assignment

TypeError has been generated bacause a tuple is immutable, a value change is not allowed.

## Exercise 5: Working with Sets

Create a set of countries you have visited, such as {"USA", "France", "Germany"}. Perform the following tasks:

1. Add a new country to the set.
2. Try to add the same country again. What happens?
3. Print the updated set.

In [14]:
countries =["USA", "France", "Germany"]
countries = set(countries)

In [16]:
countries.add("Italy")

In [17]:
countries.add("Netherland")

In [18]:
print(countries)

{'USA', 'France', 'Germany', 'Netherland', 'Italy'}

## Exercise 6: Working with Dictionaries

Create a dictionary to store information about a specific geospatial feature, such as a river:

- Name: "Amazon River"
- Length: 6400 km
- Countries: ["Brazil", "Peru", "Colombia"]

Perform the following tasks:

1. Add a new key-value pair to the dictionary to store the river's average discharge (e.g., 209,000 m³/s).
2. Update the length of the river to 6992 km.
3. Print the dictionary.

In [23]:
river = {
          "Name":"Amazone River",
          "Length": "6400 km",
          "Countries":["Brazil","Peru","Colombia"]
          }

In [25]:
river["River average"] = "209000 m³/s"

In [26]:
river["Length"] = "6992 km"

In [27]:
print(river)

{'Name': 'Amazone River', 'Length': '6992 km', 'Countries': ['Brazil', 'Peru', 'Colombia'], 'River average': '209000 m³/s'}

## Exercise 7: Nested Data Structures

Create a dictionary to represent a city that contains the city's name, population, and coordinates (latitude, longitude):

- Name: "Tokyo"
- Population: 13,515,271
- Coordinates: (35.6895, 139.6917)

Perform the following tasks:

1. Access and print the population of the city.
2. Access and print the city's latitude.
3. Update the population to 14,000,000 and print the updated dictionary.

In [28]:
city = {
    "Name": "Tokyo",
    "Population": 13515271,
    "Coordinates":(35.6895, 139.6917)
}

In [29]:
print(city["Coordinates"][0])

35.6895

In [30]:
city["Population"] = 14000000

In [31]:
print(city)

{'Name': 'Tokyo', 'Population': 14000000, 'Coordinates': (35.6895, 139.6917)}

## Exercise 8: List Operations

Given the list of cities from Exercise 3, perform the following operations:

1. Sort the list of cities alphabetically by name.
2. Create a new list that contains only the city names.
3. Remove the last city from the original list and print the updated list.

In [33]:
city = [("New York City",(40.7128, -74.0060)),("Los Angeles",(34.0522, -118.2437)),("Chicago",(41.8781, -87.6298))]

In [39]:
print(sorted(city))

[('Chicago', (41.8781, -87.6298)), ('Los Angeles', (34.0522, -118.2437)), ('New York City', (40.7128, -74.006))]

In [40]:
new_city=[]
for c in city:
  new_city.append(c[0])

In [41]:
print(new_city)

['New York City', 'Los Angeles', 'Chicago']

In [42]:
city.pop(-1)

('Chicago', (41.8781, -87.6298))

In [43]:
print(city)

[('New York City', (40.7128, -74.006)), ('Los Angeles', (34.0522, -118.2437))]

## Exercise 9: Dictionary Operations

Using the dictionary from Exercise 6, perform the following tasks:

1. Check if the key "Length" exists in the dictionary.
2. Print all the keys in the dictionary.
3. Print all the values in the dictionary.

In [44]:
river = {
          "Name":"Amazone River",
          "Length": "6400 km",
          "Countries":["Brazil","Peru","Colombia"]
          }

In [45]:
if "Length" in river:
  print("Length key exists in the dictionary")
else:
  print("Unknown key in the dictionary")

Length key exists in the dictionary

In [46]:
print(river.keys())

dict_keys(['Name', 'Length', 'Countries'])

In [49]:
print(river.values())

dict_values(['Amazone River', '6400 km', ['Brazil', 'Peru', 'Colombia']])

## Exercise 10: Practical Application

Imagine you have a list of tuples, each representing a location with its name, latitude, and longitude:

In [50]:
locations = [
    ("Mount Everest", 27.9881, 86.9250),
    ("K2", 35.8808, 76.5155),
    ("Kangchenjunga", 27.7025, 88.1475),
]

Perform the following tasks:

1. Create a new list that contains only the names of the locations.
2. Create a dictionary where the keys are location names and the values are tuples of their coordinates.
3. Print the latitude of "K2" using the dictionary.

In [53]:
names = []
for name in locations:
  names.append(name[0])
print(names)

['Mount Everest', 'K2', 'Kangchenjunga']

In [54]:
mountains = {}
for item in locations:
  key = item[0]
  values = (item[1],item[2])
  mountains[key] = values
print(mountains)

{'Mount Everest': (27.9881, 86.925), 'K2': (35.8808, 76.5155), 'Kangchenjunga': (27.7025, 88.1475)}

In [55]:
print(mountains["K2"][0])

35.8808